<div class = "book_comment">
  <%= form_with model: [book, book_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: "5", class: "w-100" %><br>
    <%= f.submit "送信" %>
  <% end %>
</div>
<!--form_withで、JavaScriptのAjaxという技術を使用した非同期通信を行なうためには
    local: falseというオプションを記述する必要がある。
    localオプションは、「同期処理にするかどうか」という設定を行うオプション。
    「非同期」の処理となるので、local: false(オフ)という設定になる。
    form_withを使用する際に何も書かないと、自動的に同期処理になるが、local: trueという初期設定になっている状態、と言い換えることができる。
    同期通信は、HTML形式でリクエストを送っていて、非同期通信は、JavaScript形式でリクエストを送っている。-->